
@font-face {
  font-family: 'SheliaVNF';
  src: url('SheliaVNF.eot?#iefix') format('embedded-opentype'),  url('SheliaVNF.woff') format('woff'), url('SheliaVNF.ttf')  format('truetype'), url('SheliaVNF.svg#SheliaVNF') format('svg');
  font-weight: normal;
  font-style: normal;
}
